.signup-btn{
        color: white;
        background-color: rgb(46, 164, 79);
        border: none;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
         transition:  box-shadow 0.20s;
    }
    .signup-btn:hover{
        cursor: pointer;
         box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    }
    .signup-btn:active{
        color: black;
        background-color: rgb(46, 164, 79);
    }  