 .start-btn{
        color: white;
        background-color: rgb(121, 82, 179);
        border-width:1px;
        border-color: blueviolet;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        transition-duration: background-color 0.2s, color 0.15s;
    }
    .start-btn:hover{
        cursor: pointer;
        color: rgb(121, 82, 179);
        background-color: white;
    }
    .start-btn:active{
        opacity: 0.5;
    }
    .download-btn{
        background-color: white;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        transition-duration: background-color 0.2s, color 0.15s;
    }
    .download-btn:hover{
        cursor: pointer;
        color: white;
        background-color: black;
    }
    .download-btn:active{
        opacity: 0.5;
    }